# ---------------------------------------------------------------------------
# OVH Cloud
# ---------------------------------------------------------------------------

# OVH API credentials (https://eu.api.ovh.com/createToken/)
export TF_VAR_ovh_endpoint="ovh-ca"               # ovh-eu | ovh-ca (match where token was created)
export TF_VAR_ovh_application_key=""
export TF_VAR_ovh_application_secret=""
export TF_VAR_ovh_consumer_key=""

# OpenStack credentials (Horizon > API Access > Download RC File v3)
export TF_VAR_openstack_auth_url="https://auth.cloud.ovh.net/v3"
export TF_VAR_openstack_user_name=""
export TF_VAR_openstack_password=""
# export TF_VAR_openstack_token=""                 # alternative to password
export TF_VAR_openstack_tenant_name=""             # project UUID (not display name)

# Cluster
export TF_VAR_cluster_name="ovh-starter"
export TF_VAR_region="GRA9"
export TF_VAR_cloud_provider="ovh"
export CLUSTER=ovh-starter
